<mat-card style="height: 420px; width: 400px; padding: 20px; background: #a52a2aad;">
  <mat-card-title style="color: white;">Login</mat-card-title>
<mat-card-content>
<form style="width: 100%;" [formGroup]="loginForm" (ngSubmit)="onLogin()">
<p>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="text" matInput  formControlName="email">
    <mat-error style="color: antiquewhite;" *ngIf="f['email'].errors && f['email']['errors']['required']">Email is required</mat-error>
    <mat-error style="color: antiquewhite;" *ngIf="f['email'].errors && f['email']['errors']['email']">Email is invalid</mat-error>
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
    <mat-error style="color: antiquewhite;" *ngIf="f['password'].errors && f['password']['errors']['required']">Password is required</mat-error>
  </mat-form-field>
</p>

<div class="button" style="font-size: 20px;">
  <button type="submit"  mat-raised-button color="primary" class="signin-button">
    Submit
    <mat-icon *ngIf="isLoading"><mat-spinner color="accent" diameter="18">
    </mat-spinner></mat-icon>
  </button>
  <!-- <button type="submit" mat-button style="color: white;">Submit</button> -->
</div>
<div class="forgotPassword" style="margin-top: 20px;">
  <span (click)="redirectToForgotPassword()">Forgot Password?</span>
</div>
<div class="redirectToSingUp">
  <span (click)="redirectToSignUp()">Don't have an account?
      Sign Up</span>
  </div>
</form>

</mat-card-content>
</mat-card>
