.main {
  width: 80%;
  margin: 1rem auto;
  max-width: 600px;
}


// .root {
//   overflow: auto;
//   width: 100vw;
//   max-width:100%;
//   background: #192824;
//   // position: relative;
//   // top: 50px;
// }
