/* You can add global styles to this file, and also import other style files */
html { background-color: #000; }
body {
    min-height: 100vh;
    background: #192824;
    margin: 0 auto;
}


// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */


.p-20{
    padding: 20px !important;
}

.pb-16{
  padding-bottom: 16px !important;
}

.post-image-img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
}

